body{
    background-image: url("../img/les2.jpg");
}

.nadpis{
    color: white;
    font-family: "Segoe UI", serif;
    text-align: center;
    text-shadow: 9px 4px 5px #555;
    font-size: 60px;
    background-image: url("../img/zelen.png");
    padding-bottom: 8px;
    margin: 20px auto 10px auto;
    cursor: default;
    display: block;
}

.main{
    background: rgba(255,255,255,0.85);
    padding: 10px 20px 50px;
    margin: 10px 155px;
}

.w3-animate-fading{animation:fading 8s infinite}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0} }

.mySlides{
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 100%;
}

.slideShow{
    background-image: url("../img/SRP5.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1000px;
    margin: auto;
}

.bg-light{
    border: 0.5cm ridge rgba(200, 255, 0, 0.8);
    background: rgba(200,255,0,0.8) !important;
    text-align: center;
}

.navbar-nav{
    margin: auto;
}

.navbar-brand{
    margin: 0;
}

.navbar-toggler {
    background: rgba(240,240,240,0.8);
    color: darkslategray;
    border-color: rgba(240, 240, 240, 0.8);
}

.btn-outline-success {
    background: rgba(240,240,240,0.8);
    color: darkslategray;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    border: 0.1cm ridge rgba(240, 240, 240, 0.8);
    padding: 5px 30px;
    margin: 0 16px;
    cursor: pointer;
}

.container{
    margin-top: 30px;
}

.btn-success{
    background-color: yellowgreen;
}

.btn-danger{
    background-color: tomato;
}

@media screen and ( max-width: 1120px ) {
    .main{
        margin: 10px 80px;
    }
}

@media screen and ( max-width: 920px ) {
    .main{
        margin: 10px;
    }
}

@media screen and ( min-width: 768px ) {
    .col-md-4 {
        max-width: 30%;
        background-color: rgba(255, 255, 255, 0.6);
        margin: 10px;
    }
}

@media screen and ( max-width: 768px ) {
    .col-md-4 {
        background-color: rgba(255, 255, 255, 0.6);
        margin: 10px;
    }
}