:root {
    --color: #c8ff00cc;
    --colorHover: #159c00cc;
    --background: url("../img/Lesy/les2.jpg");
    --header: url("../img/Lesy/zelen.png");
}
/*
  fialova #5f0192cc
  zlta #cece1fcc
  modra #29adbdcc
  cervena #9b0000cc
 */
body{
    background-image: var(--background);
}

.nadpis{
    color: white;
    font-family: "Segoe UI", serif;
    text-align: center;
    text-shadow: 9px 4px 5px #555;
    font-size: 60px;
    background-image: var(--header);
    padding-bottom: 8px;
    margin: 5px auto 10px auto;
    cursor: default;
    display: block;
}

.main{
    background: rgba(255,255,255,0.85);
    padding: 10px 20px 50px;
    max-width: 1200px;
    margin: 10px auto;
}

.w3-animate-fading{animation:fading 8s infinite}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0} }

.homepage-slides{
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 100%;
}

.slideShow{
    background-image: url("../img/Parky/SRP5.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1000px;
    margin: auto;
}

.bgstyle{
    border: 0.5cm ridge var(--color);
    background: var(--color) !important;
    text-align: center;
}

.navbarcolors {
    background: rgba(240,240,240,0.8);
    color: darkslategray;
    border-color: rgba(240, 240, 240, 0.8);
}

.colorChange {
    width: 40px;
    height: 40px;
    border: ridge;
    border-radius: 20px;
    display: block;
    margin: auto;
}

.colorDiv {
    width: min-content;
    margin: auto;
}

.btnstyle {
    background: rgba(240,240,240,0.8);
    color: darkslategray;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    border: 0.1cm ridge rgba(240, 240, 240, 0.8);
    padding: 5px 30px;
    margin:5px;
    cursor: pointer;
}

.btn:hover {
    background: var(--colorHover);
    border-color: var(--colorHover);
    color: white;
}

.btn-success{
    background-color: yellowgreen;
}

.btn-outline-primary {
    color: forestgreen;
    border-color: forestgreen;
    position: absolute;
    bottom: 15px;
}

.btn-outline-primary:hover{
    background-color: yellowgreen;
    border-color: forestgreen;
}

.btn-outline-danger {
    position: absolute;
    bottom: 15px;
    left: 65px;
}

.btn-outline-danger:hover {
    background-color: red;
    border-color: darkred;
}

.dropdown-menu-color {
    background-color: rgba(255,255,255,0.9);
}

.button-zeleny {
    background-color: limegreen;
    border-color: limegreen;
}

.button-zeleny:hover {
    background-color: green;
    border-color: green;
}

.navbarmenu {
    color: rgb(0,0,0);
    background-color: rgba(240,240,240,0.85);
    border-radius: 8px;
    border: 0.1cm ridge rgba(240, 240, 240, 0.8);
}

.loginMenuMargin {
    margin-left: auto;
    width: min-content;
    margin-bottom: -28px;
    margin-top: 5px;
}

.loginMenu {
    color: rgb(0,0,0);
    background-color: rgb(240,240,240);
    font-size: 15px;
    padding: 0 20px 0 30px;
    cursor: pointer;
}

.loginMenuHover {
    padding: 0;
    font-size: 15px;
    margin: 0;
}

.loginMargin {
    margin-left: auto;
}

.loginWidth {
    max-width: 750px;
    flex: auto;
}

.form-margin {
    margin: 60px 0 60px;
}

p {
    white-space: pre-line;
}

.komenty {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 10px;
    padding: 5px 15px;
}

.komentyPrispevok {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px;
}

.prispevok {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 10px;
    padding: 5px 15px 15px 15px;
}

@media screen and ( max-width: 1220px ) {
    .main{
        margin: 10px;
    }
}

@media screen and ( min-width: 768px ) {
    .prispevky {
        max-width: 30%;
        background-color: rgba(255, 255, 255, 0.8);
        margin: 10px;
        padding: 5px 15px 15px 15px;
    }
}

@media screen and ( max-width: 768px ) {
    .prispevky {
        background-color: rgba(255, 255, 255, 0.8);
        margin: 10px;
        padding: 5px 15px 15px 15px;
    }
}